/* --------- MYSTERIES --------- */

.ancient-mystery-front-div {
    display: flex;
}

.ancient-mystery-front {
    height: 7.1vw;
    width: 11.3vw;
    margin: 0vw;
    margin-top: 1.2vw;
    background-size: cover;
    border: 0.15vw black solid;
    border-radius: 0.4vw;
    transition: all .3s ease;  
    cursor: pointer;
}

#AzathothMysteryFront1 {
    background-image: url(/src/pictures/MysteryCards/Ancient_Azathoth_Mystery_Front_1.png);
}

#AzathothMysteryFront2 {
    background-image: url(/src/pictures/MysteryCards/Ancient_Azathoth_Mystery_Front_2.png);
}

#AzathothMysteryFront3 {
    background-image: url(/src/pictures/MysteryCards/Ancient_Azathoth_Mystery_Front_3.png);
}

#AzathothMysteryFront4 {
    background-image: url(/src/pictures/MysteryCards/Ancient_Azathoth_Mystery_Front_4.png);
}

#YogSothothMysteryFront1 {
    background-image: url(/src/pictures/MysteryCards/Ancient_Yog-Sothoth_Mystery_Front_1.png);
}

#YogSothothMysteryFront2 {
    background-image: url(/src/pictures/MysteryCards/Ancient_Yog-Sothoth_Mystery_Front_2.png);
}

#YogSothothMysteryFront3 {
    background-image: url(/src/pictures/MysteryCards/Ancient_Yog-Sothoth_Mystery_Front_3.png);
}

#YogSothothMysteryFront4 {
    background-image: url(/src/pictures/MysteryCards/Ancient_Yog-Sothoth_Mystery_Front_4.png);
}

#ShubNiggurathMysteryFront1 {
    background-image: url(/src/pictures/MysteryCards/Ancient_Shub-Niggurath_Mystery_Front_1.png);
}

#ShubNiggurathMysteryFront2 {
    background-image: url(/src/pictures/MysteryCards/Ancient_Shub-Niggurath_Mystery_Front_2.png);
}

#ShubNiggurathMysteryFront3 {
    background-image: url(/src/pictures/MysteryCards/Ancient_Shub-Niggurath_Mystery_Front_3.png);
}

#ShubNiggurathMysteryFront4 {
    background-image: url(/src/pictures/MysteryCards/Ancient_Shub-Niggurath_Mystery_Front_4.png);
}

#CthulhuMysteryFront1 {
    background-image: url(/src/pictures/MysteryCards/Ancient_Cthulhu_Mystery_Front_1.png);
}

#CthulhuMysteryFront2 {
    background-image: url(/src/pictures/MysteryCards/Ancient_Cthulhu_Mystery_Front_2.png);
}

#CthulhuMysteryFront3 {
    background-image: url(/src/pictures/MysteryCards/Ancient_Cthulhu_Mystery_Front_3.png);
}

#CthulhuMysteryFront4 {
    background-image: url(/src/pictures/MysteryCards/Ancient_Cthulhu_Mystery_Front_4.png);
}

.ancient-mystery-front:hover {
    transform: scale(1.05);
}

.ancient-mystery-front-focus {
    height: 31.5vw;
    width: 50vw;
    background-size: cover;
    border: 0.3vw black solid;
    border-radius: 1.5vw;
}

.popup-overlay:has(.ancient-mystery-front-focus) {
    background: none;
}

.popup-content:has(.ancient-mystery-front-focus) {
    width: 50vw;
}

.winning-popup-text {
    font-family: 'Birmingham';
    font-size: 4vw;
    color: white;
    justify-content: center;
}

/* COUNTER MYSTERIES */

.mystery-tokens-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mystery-counter {
    display: flex;
    justify-content: center;
}

.token-mystery-counter {
    width: 9vw;
    height: 3.3vw;
    background-color: transparent;
    text-align: center;
    font-family: EldritchNumbers;
    font-size: 2.6vw;
    margin: 0.5vw;
    padding-top: 0.4vw;
    border: 0.15vw solid black;
    border-radius: 1vw;
}

.token-mystery-done {
    width: 9vw;
    height: 3.3vw;
    background-image: url(/src/pictures/Tokens/TokenDone.png);
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0.5vw;
    border: 0.15vw solid black;
    border-radius: 1vw;
    transition: all .3s ease; 
    cursor: pointer;
}

.token-mystery-done:hover {
    transform: scale(1.05);
}

.token-mystery-minus {
    background-image: url(/src/pictures/Tokens/TokenMinus.png);
    background-color: transparent;
    background-size: cover;
    align-self: center;
    margin: 0.5vw;
    border-radius: 50%;
    border: 1vw;
    width: 2vw;
    height: 2vw;
    transition: all .3s ease; 
    cursor: pointer;
}

.token-mystery-minus:hover {
    transform: scale(1.15);
}

.token-mystery-plus {
    background-image: url(/src/pictures/Tokens/TokenPlus.png);
    background-color: transparent;
    background-size: cover;
    align-self: center;
    margin: 0.5vw;
    border-radius: 50%;
    border: 1vw;
    width: 2vw;
    height: 2vw;
    transition: all .3s ease; 
    cursor: pointer;    
}

.token-mystery-plus:hover {
    transform: scale(1.15);
}

.token-mystery-eldritch {
    background-image: url(/src/pictures/Tokens/TokenEldritch.png);
    background-size: cover;
    background-color: transparent;
    margin: 0.5vw;
    border-radius: 50%;
    width: 2.8vw;
    height: 2.8vw;
}

.token-mystery-clue {
    background-image: url(/src/pictures/Tokens/TokenClue.png);
    background-size: cover;
    background-color: transparent;
    margin: 0.5vw;
    border:none;
    width: 2.8vw;
    height: 2.8vw;
}

.token-mystery-gate {
    background-image: url(/src/pictures/Tokens/TokenGate.png);
    background-size: cover;
    background-color: transparent;
    margin: 0.5vw;
    border-radius: 50%;
    width: 2.8vw;
    height: 2.8vw;
}

.token-mystery-toughness{
    background-image: url(/src/pictures/Tokens/TokenMonsterToughness.png);
    background-size: cover;
    background-color: transparent;
    margin: 0.5vw;
    margin-left: 0.7vw;
    margin-right: 0.7vw;
    margin-bottom: 0.1vw;
    border: none;
    width: 2.4vw;
    height: 3.2vw;
}

/* MONSTER MYSTERIES */

.mystery-tokens-monster-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0.5vw;
}

.mystery-tokens-monster {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mystery-monster {
    background-size: cover;
    background-color: transparent;
    align-self: center;
    margin-top: 0.7vw;
    margin-right: 0.5vw;
    margin-bottom: 0.1vw;
    margin-left: 0.5vw;
    border:none;
    width: 6vw;
    height: 6vw;
}

#TokenDunwichHorror {
    background-image: url(/src/pictures/Tokens/TokenDunwichHorror.png);
}

#TokenDunwichHorrorSlayed {
    background-image: url(/src/pictures/Tokens/TokenDunwichHorrorSlayed.png);
}

#TokenNug {
    background-image: url(/src/pictures/Tokens/TokenNug.png);
}

#TokenNugSlayed {
    background-image: url(/src/pictures/Tokens/TokenNugSlayed.png);
}

#TokenCthylla {
    background-image: url(/src/pictures/Tokens/TokenCthylla.png);
}

#TokenCthyllaSlayed {
    background-image: url(/src/pictures/Tokens/TokenCthyllaSlayed.png);
}

#TokenShubNiggurath {
    background-image: url(/src/pictures/Tokens/TokenShubNiggurath.png);
}

#TokenShubNiggurathSlayed {
    background-image: url(/src/pictures/Tokens/TokenShubNiggurathSlayed.png);
}

#TokenCthulhu {
    background-image: url(/src/pictures/Tokens/TokenCthulhu.png);
}

#TokenCthulhuSlayed {
    background-image: url(/src/pictures/Tokens/TokenCthulhuSlayed.png);
}

.token-mystery-killing {
    width: 3.5vw;
    height: 3.5vw;
    background-image: url(/src/pictures/Tokens/TokenKilling.png);
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0.5vw;
    justify-self: center;
    border: none;
    transition: all .3s ease; 
}

.mystery-monster-addons {
    background-color: rgba(238, 238, 215, 0.716);
    display: flex;
    justify-self: center;
    justify-content: space-between;
    align-items: center;
    border: 0.15vw solid black;
    border-radius: 1vw;
    height: 1.2vw;
    width: 7vw;
    margin-right: 2vw;
    margin-left: 2vw;
}

.mystery-monster-token-minus {
    background-image: url(/src/pictures/Tokens/TokenMinus.png);
    background-color: transparent;
    background-size: cover;
    border-radius: 50%;
    border: 1vw;
    width: 1.1vw;
    height: 1.1vw;
    cursor: pointer;
}

.mystery-monster-token-health {
    background-image: url(/src/pictures/Tokens/TokenHealthSmall.png);
    background-color: transparent;
    background-size: cover;
    /* margin-left: 0.3vw; */
    width: 1.15vw;
    height: 1.1vw;
    border: none;
}

.mystery-monster-counter {
    background-color: transparent;
    width: 1.6vw;
    height: 1vw;
    border: none;
    margin-right: 1.2vw;
    padding-top: 0.1vw;
    text-align: center;
    font-family: EldritchNumbers;
    font-size: 0.98vw;
}

.mystery-monster-token-plus {
    background-image: url(/src/pictures/Tokens/TokenPlus.png);
    background-color: transparent;
    background-size: cover;
    justify-content: flex-end;
    border-radius: 50%;
    border: 1vw;
    width: 1.1vw;
    height: 1.1vw;
    cursor: pointer;
}

.token-mystery-monster-done {
    width: 3.5vw;
    height: 3.5vw;
    background-image: url(/src/pictures/Tokens/TokenDone.png);
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0.5vw;
    border: 0.15vw solid black;
    border-radius: 50%;
    transition: all .3s ease; 
    cursor: pointer;
}

.token-mystery-monster-done:hover {
    transform: scale(1.15);
}

/* --------- MYTHOS --------- */

.mythos-front-div {
    display: flex;
    flex-direction: column;
}

.mythos-tokens-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mythos-front {
    height: 11.3vw;
    width: 7.2vw;
    margin: 0vw 1.2vw 0vw 1.2vw;
    justify-content: center;
    background-size: cover;
    border: 0.15vw black solid;
    border-radius: 0.4vw;
    transition: all .3s ease;
    cursor: pointer;
}

.mythos-front:hover {
    transform: scale(1.05);
}

/* .mythos-front:focus {
    transform: scale(3.8) translateY(7%);
} */


.mythos-front-focus {
    height: 45vw;
    width: 28.5vw;
    background-size: cover;
    border: 0.3vw black solid;
    border-radius: 1.5vw;
}

.popup-overlay:has(.mythos-front-focus) {
    background: none;
}

.popup-content:has(.mythos-front-focus) {
    width: 28.5vw;
}


/* .mythos-front-big {
    height: 11.5vw;
    width: 7.4vw;
    margin: 1.2vw;
    justify-content: center;
    background-size: cover;
    transition: all .3s ease;
}

.mythos-front-big:hover {
    transform: scale(2);
} */

.token-mythos-reckoning {
    width: 2.2vw;
    height: 2.2vw;
    background-image: url(/src/pictures/Tokens/TokenMythosReckoning.png);
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0.2vw;
    margin-left: 0.25vw;
    margin-right: 0.25vw;
    margin-bottom: 0.5vw;
    border: none;
    border-radius: 50%;
    transition: all .3s ease; 
    cursor: pointer;
}

.token-mythos-reckoning:hover {
    transform: scale(1.2);
}

.token-mythos-done {
    width: 2vw;
    height: 2vw;
    background-image: url(/src/pictures/Tokens/TokenDone.png);
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0.2vw;
    margin-top: 0.4vw;
    margin-left: 0.25vw;
    margin-right: 0.25vw;
    border: 0.15vw solid black;
    border-radius: 50%;
    transition: all .3s ease; 
    cursor: pointer;
}

.token-mythos-done:hover {
    transform: scale(1.2);
}

.token-mythos-clue-faded {
    width: 2.2vw;
    height: 2.2vw;
    background-image: url(/src/pictures/Tokens/TokenClueFaded.png);
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0.2vw;
    margin-left: 0.25vw;
    margin-right: 0.25vw;
    margin-bottom: 0.5vw;
    border: none;
    border-radius: 50%;
    text-align: center;
    font-family: EldritchNumbers;
    padding-top: 0.1vw;
    font-size: 1.5vw;
    transition: all .3s ease; 
    cursor: pointer;
}

.token-mythos-clue-faded:hover {
    transform: scale(1.2);
}

.token-mythos-gate-faded {
    width: 2.2vw;
    height: 2.2vw;
    background-image: url(/src/pictures/Tokens/TokenGate.png);
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0.2vw;
    margin-left: 0.25vw;
    margin-right: 0.25vw;
    margin-bottom: 0.5vw;
    border: none;
    border-radius: 50%;
    text-align: center;
    font-family: EldritchNumbers;
    padding-top: 0.1vw;
    font-size: 1.5vw;
    transition: all .3s ease; 
    cursor: pointer;
}

.token-mythos-gate-faded:hover {
    transform: scale(1.2);
}

.token-mythos-monster-slayed {
    width: 2.2vw;
    height: 2.2vw;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0.2vw;
    margin-left: 0.25vw;
    margin-right: 0.25vw;
    margin-bottom: 0.5vw;
    border: none;
    text-align: center;
    font-family: EldritchNumbers;
    padding-top: 0.1vw;
    font-size: 1.5vw;
    transition: all .3s ease; 
    cursor: pointer;
}

.token-mythos-monster-slayed:hover {
    transform: scale(1.2);
}

#tokenMythosTickTockMenSlayed {
    background-image: url(/src/pictures/Tokens/TokenTickTockMenSlayed.png);
}

#tokenMythosWindWalkerSlayed {
    background-image: url(/src/pictures/Tokens/TokenWindWalkerSlayed.png);
}

#tokenMythosSpinnerOfWebsSlayed {
    background-image: url(/src/pictures/Tokens/TokenSpinnerOfWebsSlayed.png);
}

.token-mythos-eldritch-faded {
    width: 2vw;
    height: 2vw;
    margin-left: 4.6vw;
    margin-top: 0.2vw;
    background-image: url(/src/pictures/Tokens/TokenEldritchDarkened.png);
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 50%;
    text-align: center;
    font-family: EldritchNumbers;
    color: white;
    padding-top: 0.3vw;
    font-weight: 150;
    font-size: 1.4vw;
}

#tokenMythosEldritchFadedFocusEB1 {
    width: 6.5vw;
    height: 6.5vw;
    margin-left: 21.3vw;
    margin-top: 10.8vw;
    padding-top: 1vw;
    font-size: 5vw;
}

#tokenMythosEldritchFadedFocusEB2 {
    width: 6.5vw;
    height: 6.5vw;
    margin-left: 21.3vw;
    margin-top: 9.8vw;
    padding-top: 1vw;
    font-size: 5vw;
}

#tokenMythosEldritchFadedFocusEB4 {
    width: 6.5vw;
    height: 6.5vw;
    margin-left: 21.3vw;
    margin-top: 10.6vw;
    padding-top: 1vw;
    font-size: 5vw;
}

#tokenMythosEldritchFadedFocusNB3 {
    width: 6.5vw;
    height: 6.5vw;
    margin-left: 21vw;
    margin-top: 8vw;
    padding-top: 1vw;
    font-size: 5vw;
}

#tokenMythosEldritchFadedFocusNB4 {
    width: 6.5vw;
    height: 6.5vw;
    margin-left: 21.8vw;
    margin-top: 12vw;
    padding-top: 1vw;
    font-size: 5vw;
}

#tokenMythosEldritchFadedFocusHB2 {
    width: 6.5vw;
    height: 6.5vw;
    margin-left: 21.8vw;
    margin-top: 7vw;
    padding-top: 1vw;
    font-size: 5vw;
}

#tokenMythosEldritchFadedFocusHB4 {
    width: 6.5vw;
    height: 6.5vw;
    margin-left: 21.8vw;
    margin-top: 9.5vw;
    padding-top: 1vw;
    font-size: 5vw;
}

.token-mythos-monster-toughness-faded {
    width: 3vw;
    height: 3.3vw;
    margin-left: 4.7vw;
    background-image: url(/src/pictures/Tokens/TokenMonsterToughness.png);
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 50%;
    text-align: center;
    font-family: EldritchNumbers;
    color: white;
    padding-bottom: 0.2vw;
    font-size: 1.4vw;
}

#tokenMythosMonsterToughnessFadedFocusNB2 {
    width: 6.8vw;
    height: 6.6vw;
    margin-left: 23.1vw;
    margin-top: 0.1vw;
    padding-bottom: 1vw;
    font-size: 2.9vw;
}

.token-mythos-health-faded {
    width: 4vw;
    height: 3vw;
    margin-left: 4.2vw;
    background-image: url(/src/pictures/Tokens/TokenHealthDarkened.png);
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 50%;
    text-align: center;
    font-family: EldritchNumbers;
    color: white;
    padding-top: 0.3vw;
    font-size: 1.4vw;
}

#tokenMythosHealthFadedFocusHB1 {
    width: 9vw;
    height: 10vw;
    margin-left: 19vw;
    margin-top: 15vw;
    padding-top: 1vw;
    font-size: 4.8vw;
}

.outer-popup-mythos {
    position: fixed;
    display: flex;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.mythos-popup-matt-yellow {
    display: flex;
    flex-direction: column;
    background-image: url(/src/pictures/Mythos/MythosMattYellow.png);
    background-size: cover;
    width: 52.3vw;
    height: 46vw;
    justify-content: flex-start;
    align-items: center;
}

.mythos-popup-yellow-div {
    display: flex;
    flex-direction: column;
    width: 45vw;
    height: 55vw;
    margin-top: 10vw;
    justify-content: flex-start;
    align-items: center;
}

.mythosp-popup-yellow-div-expedition{
    display: flex;
    flex-direction: column;
    width: 45vw;
    height: 55vw;
    margin-top: 7vw;
    justify-content: flex-start;
    align-items: center;
}

.mythos-popup-yellow-button {
    background: none;
    border-radius: 2vw;
    border: 0.25vw black solid;
    width: 40vw;
    height: 8vw;
    font-family: "F1669 Elzevir W00 Normal"; 
    font-size: 2.5vw;
    margin: 2vw;
    text-align: center;
    cursor: pointer;
}

.mythos-popup-text-number-yellow {
    display: inline;
    font-family: "Romana";  
    font-size: 2.5vw;
    margin: 0;
    text-align: center;
}

.mythos-popup-text-expedition {
    display: inline;
    font-family: "F1669 Elzevir W00 Normal"; 
    font-size: 2.5vw;
    margin: 0;
    text-align: center;
}

.mythos-popup-yellow-case-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2vw;
}

.mythos-popup-yellow-expedition {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mythos-popup-expeditions {
    display: flex;
    flex-direction: row;
}

.token-mythos-popup-expedition {
    display: flex;
    flex-direction: row;
    background: none;
    background-size: cover;
    border: none;
    align-items: center;
    width: 17.5vw;
    height: 13vw;
}

.token-mythos-popup-expedition-small {
    display: flex;
    flex-direction: row;
    background: none;
    background-size: cover;
    margin: -0.05vw;
    margin-top: 0.6vw;
    margin-bottom: 0.6vw;
    border: none;
    width: 7vw;
    height: 6.5vw;
}

.token-mythos-popup-expedition-button {
    display: flex;
    width: 28vw;
    height: 3.5vw;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-family: "F1669 Elzevir W00 Normal"; 
    font-size: 2.2vw;
    margin: 0.5vw;
    border: 0.15vw solid black;
    border-radius: 1vw;
    justify-content: center;
    align-items: center;
    transition: all .3s ease; 
    cursor: pointer;
}

.token-mythos-popup-expedition-button:hover {
    transform: scale(1.05);
}

#tokenMythosPopUpExpeditionAntarctica {
    background-image: url(/src/pictures/Tokens/TokenAntarctica.png);
}

#tokenMythosPopUpExpeditionAntarcticaSmall {
    background-image: url(/src/pictures/Tokens/TokenAntarcticaSmall.png);
}

#tokenMythosPopUpExpeditionAntarcticaCrossedOut {
    background-image: url(/src/pictures/Tokens/TokenAntarcticaCrossedOut.png);
}

#tokenMythosPopUpExpeditionTheAmazon {
    background-image: url(/src/pictures/Tokens/TokenTheAmazon.png);
}

#tokenMythosPopUpExpeditionTheAmazonSmall {
    background-image: url(/src/pictures/Tokens/TokenTheAmazonSmall.png);
}

#tokenMythosPopUpExpeditionTheAmazonCrossedOut {
    background-image: url(/src/pictures/Tokens/TokenTheAmazonCrossedOut.png);
}

#tokenMythosPopUpExpeditionTheHeartofAfrica {
    background-image: url(/src/pictures/Tokens/TokenTheHeartOfAfrica.png);
}

#tokenMythosPopUpExpeditionTheHeartofAfricaSmall {
    background-image: url(/src/pictures/Tokens/TokenTheHeartOfAfricaSmall.png);
}

#tokenMythosPopUpExpeditionTheHeartofAfricaCrossedOut {
    background-image: url(/src/pictures/Tokens/TokenTheHeartOfAfricaCrossedOut.png);
}

#tokenMythosPopUpExpeditionTheHimalayas {
    background-image: url(/src/pictures/Tokens/TokenTheHimalayas.png);
}

#tokenMythosPopUpExpeditionTheHimalayasSmall {
    background-image: url(/src/pictures/Tokens/TokenTheHimalayasSmall.png);
}

#tokenMythosPopUpExpeditionTheHimalayasCrossedOut {
    background-image: url(/src/pictures/Tokens/TokenTheHimalayasCrossedOut.png);
}

#tokenMythosPopUpExpeditionThePyramids {
    background-image: url(/src/pictures/Tokens/TokenThePyramids.png);
}

#tokenMythosPopUpExpeditionThePyramidsSmall {
    background-image: url(/src/pictures/Tokens/TokenThePyramidsSmall.png);
}

#tokenMythosPopUpExpeditionThePyramidsCrossedOut {
    background-image: url(/src/pictures/Tokens/TokenThePyramidsCrossedOut.png);
}

#tokenMythosPopUpExpeditionTunguska {
    background-image: url(/src/pictures/Tokens/TokenTunguska.png);
}

#tokenMythosPopUpExpeditionTunguskaSmall {
    background-image: url(/src/pictures/Tokens/TokenTunguskaSmall.png);
}

#tokenMythosPopUpExpeditionTunguskaCrossedOut {
    background-image: url(/src/pictures/Tokens/TokenTunguskaCrossedOut.png);
}

.mythos-popup-matt-blue {
    display: flex;
    flex-direction: column;
    background-image: url(/src/pictures/Mythos/MythosMattBlue.png);
    background-size: cover;
    width: 50vw;
    height: 46vw;
    justify-content: flex-start;
    align-items: center;
}

.mythos-popup-close-button-div {
    display: flex;
    width: 43vw;
    height: 4.5vw;
    justify-content: flex-end;
    align-items: flex-end;
}

.mythos-popup-close-button {
    width: 1.5vw;
    height: 1.5vw;
    font-family: 'Birmingham'; 
    font-size: 1vw;
    text-align: center;
    background-color: rgb(213, 213, 160);
    cursor: pointer;
    border: 1px solid #000000;
    border-radius: 50%;
    cursor: pointer;
}

.mythos-popup-text-div {
    display: flex;
    width: 40vw;
    height: 7vw;
    margin-top: 2vw;
    justify-content: center;
}

.mythos-popup-text-div-expedition{
    display: flex;
    width: 40vw;
    height: 5vw;
    margin-top: 2vw;
    justify-content: center;
}

#mythosPopUpTextDivOneliner {
    height: 3vw;
}

#mythosPopUpTextDivNB1 {
    display: flex;
    align-items: flex-end;
    height: 7vw;
}

#mythosPopUpTextDivNB4 {
    height: 12vw;
}

#mythosPopUpTextDivHB1{
    height: 6vw;
}

.mythos-popup-text-case-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 9vw;
}

.mythos-popup-text {
    display: inline;
    font-family: "F1669 Elzevir W00 Normal"; 
    font-size: 1.8vw;
    margin: 0;
    text-align: center;
}

.mythos-popup-text-number {
    display: inline;
    font-family: "Romana";  
    font-size: 1.8vw;
    margin: 0;
    text-align: center;
}

.mythos-popup-text-icons {
    display: inline;
    font-family: EldritchIcons;  
    font-size: 2vw;
    margin: 0;
    text-align: center;
}

.mythos-popup-counter-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 9vw;
}

.token-mythos-popup-counter {
    width: 9vw;
    height: 3.7vw;
    background-color: transparent;
    text-align: center;
    font-family: EldritchNumbers;
    font-size: 3vw;
    margin: 0.5vw;
    padding-top: 0.4vw;
    border: 0.15vw solid black;
    border-radius: 1vw;
}

.token-mythos-popup-counter-div {
    display: flex;
}

.token-mythos-popup-minus {
    background-image: url(/src/pictures/Tokens/TokenMinus.png);
    background-color: transparent;
    background-size: cover;
    align-self: center;
    margin: 0.5vw;
    border-radius: 50%;
    border: 1vw;
    width: 3vw;
    height: 3vw;
    transition: all .3s ease; 
    cursor: pointer;
}

.token-mythos-popup-minus:hover {
    transform: scale(1.15);
}

.token-mythos-popup-eldritch {
    background-image: url(/src/pictures/Tokens/TokenEldritch.png);
    background-size: cover;
    background-color: transparent;
    margin: 0.5vw;
    border-radius: 50%;
    width: 3.5vw;
    height: 3.5vw;
}

.token-mythos-popup-monster-surge {
    background-image: url(/src/pictures/Tokens/TokenMonsterSurge.png);
    background-size: cover;
    background-color: transparent;
    margin: 0.5vw;
    border: none;
    width: 3.5vw;
    height: 3.5vw;
}

.token-mythos-popup-monster-toughness {
    background-image: url(/src/pictures/Tokens/TokenMonsterToughness.png);
    background-size: cover;
    background-color: transparent;
    margin: 0.5vw;
    border: none;
    width: 3.3vw;
    height: 4.2vw;
}

.token-mythos-popup-plus {
    background-image: url(/src/pictures/Tokens/TokenPlus.png);
    background-color: transparent;
    background-size: cover;
    align-self: center;
    margin: 0.5vw;
    border-radius: 50%;
    border: 1vw;
    width: 3vw;
    height: 3vw;
    transition: all .3s ease; 
    cursor: pointer;    
}

.token-mythos-popup-plus:hover {
    transform: scale(1.15);
}

.mythos-popup-done-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vw;
}

.mythos-popup-done-case-div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mythos-popup-counter-case-div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.token-mythos-popup-sanity {
    background-image: url(/src/pictures/Tokens/TokenSanity.png);
    background-size: cover;
    background-color: transparent;
    margin: 0.5vw;
    border: none;
    width: 3.4vw;
    height: 3vw;
}

.token-mythos-popup-health {
    background-image: url(/src/pictures/Tokens/TokenHealth.png);
    background-size: cover;
    background-color: transparent;
    margin: 0.5vw;
    border: none;
    width: 3.4vw;
    height: 3.2vw;
}

#tokenMythosPopUpHealthHB1 {
    width: 5vw;
    height: 5vw;
}

.token-mythos-popup-delayed-investigator {
    background-image: url(/src/pictures/Tokens/TokenDelayedInvestigator.png);
    background-size: cover;
    background-color: transparent;
    border: none;
    margin-left: -1.8vw;
    width: 6vw;
    height: 3.5vw;
}

.token-mythos-popup-doom {
    background-image: url(/src/pictures/Tokens/TokenDoom.png);
    background-size: cover;
    background-color: transparent;
    margin: 0.5vw;
    border: none;
    width: 3.4vw;
    height: 3.4vw;
}

.token-mythos-popup-gate {
    background-image: url(/src/pictures/Tokens/TokenGate.png);
    background-size: cover;
    background-color: transparent;
    margin: 0.5vw;
    border: none;
    width: 4vw;
    height: 4vw;
}

.token-mythos-popup-arrow {
    background-image: url(/src/pictures/Tokens/TokenArrowRight.png);
    background-size: cover;
    background-color: transparent;
    margin: 0.5vw;
    border: none;
    width: 4vw;
    height: 3.3vw;
}

.token-mythos-popup-clue-crossed-out {
    background-image: url(/src/pictures/Tokens/TokenClueCrossedOut.png);
    background-size: cover;
    background-color: transparent;
    margin: 0.5vw;
    margin-bottom: 0;
    border: none;
    width: 3.4vw;
    height: 3.4vw;
}

.token-mythos-popup-numbers-font{
    font-family: EldritchNumbers;
    font-size: 3.4vw;
    font-weight: 300;
    margin-top: 0.5vw;
    margin-bottom: 0;
}

.token-mythos-popup-done {
    display: flex;
    width: 4vw;
    height: 3.3vw;
    background-image: url(/src/pictures/Tokens/TokenDone.png);
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0.5vw;
    border: 0.15vw solid black;
    border-radius: 1vw;
    justify-content: center;
    transition: all .3s ease; 
    cursor: pointer;
}

.token-mythos-popup-done:hover {
    transform: scale(1.05);
}

.token-mythos-popup-defeat {
    display: flex;
    width: 15vw;
    height: 3.5vw;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Birmingham;
    font-size: 2.2vw;
    margin: 0.5vw;
    border: 0.15vw solid black;
    border-radius: 1vw;
    justify-content: center;
    align-items: center;
    transition: all .3s ease; 
    cursor: pointer;
}

.token-mythos-popup-defeat:hover {
    transform: scale(1.05);
}

#MythosEG1 {
    background-image: url(/src/pictures/Mythos/Mythos_EG1.png);
}

#MythosEG2 {
    background-image: url(/src/pictures/Mythos/Mythos_EG2.png);
}

#MythosEG3 {
    background-image: url(/src/pictures/Mythos/Mythos_EG3.png);
}

#MythosEG4 {
    background-image: url(/src/pictures/Mythos/Mythos_EG4.png);
}

#MythosEG5 {
    background-image: url(/src/pictures/Mythos/Mythos_EG5.png);
}

#MythosNG1 {
    background-image: url(/src/pictures/Mythos/Mythos_NG1.png);
}

#MythosNG2 {
    background-image: url(/src/pictures/Mythos/Mythos_NG2.png);
}

#MythosNG3 {
    background-image: url(/src/pictures/Mythos/Mythos_NG3.png);
}

#MythosNG4 {
    background-image: url(/src/pictures/Mythos/Mythos_NG4.png);
}

#MythosNG5 {
    background-image: url(/src/pictures/Mythos/Mythos_NG5.png);
}

#MythosNG6 {
    background-image: url(/src/pictures/Mythos/Mythos_NG6.png);
}

#MythosNG7 {
    background-image: url(/src/pictures/Mythos/Mythos_NG7.png);
}

#MythosNG8 {
    background-image: url(/src/pictures/Mythos/Mythos_NG8.png);
}

#MythosHG1 {
    background-image: url(/src/pictures/Mythos/Mythos_HG1.png);
}

#MythosHG2 {
    background-image: url(/src/pictures/Mythos/Mythos_HG2.png);
}

#MythosHG3 {
    background-image: url(/src/pictures/Mythos/Mythos_HG3.png);
}

#MythosHG4 {
    background-image: url(/src/pictures/Mythos/Mythos_HG4.png);
}

#MythosHG5 {
    background-image: url(/src/pictures/Mythos/Mythos_HG5.png);
}

#MythosEY1 {
    background-image: url(/src/pictures/Mythos/Mythos_EY1.png);
}

#MythosEY2 {
    background-image: url(/src/pictures/Mythos/Mythos_EY2.png);
}

#MythosEY3 {
    background-image: url(/src/pictures/Mythos/Mythos_EY3.png);
}

#MythosEY4 {
    background-image: url(/src/pictures/Mythos/Mythos_EY4.png);
}

#MythosEY5 {
    background-image: url(/src/pictures/Mythos/Mythos_EY5.png);
}

#MythosNY1 {
    background-image: url(/src/pictures/Mythos/Mythos_NY1.png);
}

#MythosNY2 {
    background-image: url(/src/pictures/Mythos/Mythos_NY2.png);
}

#MythosNY3 {
    background-image: url(/src/pictures/Mythos/Mythos_NY3.png);
}

#MythosNY4 {
    background-image: url(/src/pictures/Mythos/Mythos_NY4.png);
}

#MythosNY5 {
    background-image: url(/src/pictures/Mythos/Mythos_NY5.png);
}

#MythosNY6 {
    background-image: url(/src/pictures/Mythos/Mythos_NY6.png);
}

#MythosNY7 {
    background-image: url(/src/pictures/Mythos/Mythos_NY7.png);
}

#MythosNY8 {
    background-image: url(/src/pictures/Mythos/Mythos_NY8.png);
}

#MythosNY9 {
    background-image: url(/src/pictures/Mythos/Mythos_NY9.png);
}

#MythosNY10 {
    background-image: url(/src/pictures/Mythos/Mythos_NY10.png);
}

#MythosNY11 {
    background-image: url(/src/pictures/Mythos/Mythos_NY11.png);
}

#MythosHY1 {
    background-image: url(/src/pictures/Mythos/Mythos_HY1.png);
}

#MythosHY2 {
    background-image: url(/src/pictures/Mythos/Mythos_HY2.png);
}

#MythosHY3 {
    background-image: url(/src/pictures/Mythos/Mythos_HY3.png);
}

#MythosHY4 {
    background-image: url(/src/pictures/Mythos/Mythos_HY4.png);
}

#MythosHY5 {
    background-image: url(/src/pictures/Mythos/Mythos_HY5.png);
}

#MythosEB1 {
    background-image: url(/src/pictures/Mythos/Mythos_EB1.png);
}

#MythosEB2 {
    background-image: url(/src/pictures/Mythos/Mythos_EB2.png);
}

#MythosEB3 {
    background-image: url(/src/pictures/Mythos/Mythos_EB3.png);
}

#MythosEB4 {
    background-image: url(/src/pictures/Mythos/Mythos_EB4.png);
}

#MythosNB1 {
    background-image: url(/src/pictures/Mythos/Mythos_NB1.png);
}

#MythosNB2 {
    background-image: url(/src/pictures/Mythos/Mythos_NB2.png);
}

#MythosNB3 {
    background-image: url(/src/pictures/Mythos/Mythos_NB3.png);
}

#MythosNB4 {
    background-image: url(/src/pictures/Mythos/Mythos_NB4.png);
}

#MythosHB1 {
    background-image: url(/src/pictures/Mythos/Mythos_HB1.png);
}

#MythosHB2 {
    background-image: url(/src/pictures/Mythos/Mythos_HB2.png);
}

#MythosHB3 {
    background-image: url(/src/pictures/Mythos/Mythos_HB3.png);
}

#MythosHB4 {
    background-image: url(/src/pictures/Mythos/Mythos_HB4.png);
}